@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: grid;
	place-items: center;
	gap: 5rem;
	height: 100vh;
	background: #f3f8fa;
}

/* SECOND BUTTON ============================ */

.btn-2 {
	text-decoration: none;
	padding: 14px 28px;
	position: relative;
	z-index: 1;
	border-radius: 50px;
	font-size: 1rem;
	display: inline-block;
	width: auto;
	font-weight: 500;
	color: #161616;
	transition: all 0.3s ease-in-out;
	line-height: 1.5;
	text-align: center;
	cursor: pointer;
	background: transparent;
}

.hover-circle-2 {
	width: 50px;
	border-radius: 50px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	transition: all 0.3s ease-in-out;
	color: #fff;
	background: linear-gradient(to right, #f92c8b 0, #b02cd6 100%);
}

.btn-2:hover .hover-circle-2 {
	width: 100%;
}

.btn-2:hover {
	color: #fff;
}
